body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

header a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#caption {
  font-size: 15px;
  text-align: center;
}

figure ~ p {
  max-width: 800px;
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
  font-size: 20px;
}

#details div {
  background-color: red;
  float: left;
  width: 25%;
  text-align: center;
}